.App {
  position: relative;
  width: 100vw;
  height: 120vh;
  overflow: hidden;
  background-color: var(--primary);
}

main {
  width: 100%;
  height: calc(100% - 5rem);
}

.mainContent {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.heroSection {
  width: 100%;
  height: calc(100vh - 5rem);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  z-index: 5000;
  background-size: cover;
  background-position: center;
}

.heroLeft {
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroRight {
  width: 80%;
  background-color: blue;
  z-index: 100;
}

h1 {
  font-family: "Cal Sans", sans-serif;
  font-size: 4em;
  font-weight: 900;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

h2 {
  font-family: "Cal Sans", sans-serif;
  font-size: 2rem;
  font-weight: 900;
}

.heroTitle {
  position: relative;
  margin-left: 5rem;
  margin-top: 6rem;
  color: white;
  font-size: 4rem;
  font-weight: 900;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.heroSubTitle {
  position: relative;
  margin-left: 5rem;
  margin-top: .5rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color:rgb(52, 0, 0);
}

p{
  font-family: "Montserrat", sans-serif;
}

.heroDescription {
  position: relative;
  margin-left: 5rem;
  margin-top: 1rem;
  font-size: 1.3rem;
  width: 40rem;
  color: rgb(255, 168, 168);
}

.downBanner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column;  
  gap: -.5rem;
  align-items: center;

}

.downIcon {
  position: relative;
  color: white;
}

.icon-1 {
  animation: down 3s ease-in-out infinite;
}
.icon-2 {
  animation: down 3s ease-in-out infinite;
  animation-delay: 0.2s;
}
.icon-3 {
  animation: down 3s ease-in-out infinite;
  animation-delay: 0.4s;
}

@keyframes down {
  50% {
    transform: translateY(0.3rem);
  }
}

.secondSection {
  padding-top: 6rem;
  width: 100%;
  height: calc(100vh + 6rem);
  background-color: white;
  display: flex;
}

.secondTitle {
  position: relative;
  margin-left: 5rem;
  margin-top: 2rem;
  color: black;
  font-size: 4rem;
  font-weight: 900;
  color:rgb(187, 12, 12);
  letter-spacing: 0.15rem;
}

.secondDescription {
  position: relative;
  margin-left: 5rem;
  margin-top: 1rem;
  font-size: 1.3rem;
  width: 40rem;
}

.secondaryTitle {
  position: relative;
  margin-left: 5rem;
  margin-top: 5rem;
  font-size: 2rem;
  font-weight: 900;
  color: rgb(146, 1, 1);
}

.appointmentButton {
  position: relative;
  margin-left: 5rem;
  margin-top: 1rem;
  padding: 1rem 2rem;
  background-color: rgb(187, 12, 12);
  color: white;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  display: flex;
  gap: .7rem;
  align-items: center;
  justify-content: center;
}

.qrCodeBox {
  position: relative;
  margin-left: 5rem;
  margin-top: 2rem;
  width: 25rem;
  height: 30rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qrCodeTitle {
  position: relative;
  top: 1.5rem !important;
  width: 100%;
  text-align: center;
  color: rgb(146, 1, 1);
}

.qrCode {
  margin-top: 2rem;
  width: 15rem;
}

@media screen and (max-width: 768px) {
  .heroSection {
    height: 120vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .heroLeft {
    width: 100vw;
    display: flex;
    gap: .5rem;
    margin-left: 0;
    flex-direction: column;
    align-items: center;
  }

  .heroTitle {
    width: 90%;
    font-size: 3em;
    margin-top: -15rem;
    margin-left: 0;
    text-align: center;
  }

  .heroSubTitle {
    width: 80%;
    margin-left: 0;
    text-align: center; 
  }

  .heroDescription {
    width: 80%;
    font-size: 1.2em;
    margin-top: 1rem;
    margin-left: 0;
  }

  .secondSection {
    flex-direction: column;
    align-items: center;
    height: calc(100vh + 22rem);
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  .secondTitle {
    font-size: 3.5em;
    width: 90%;
    margin-left: 10%;
  }

  .secondDescription {
    width: 80%;
    margin-left: 10%;
  }

  .secondaryTitle {
    font-size: 2.5em;
    width: 90%;
    margin-left: 10%;
  }

  .appointmentButton {
    width: 80%;
    margin-left: 10%;
    font-size: 1.5em;
    padding: 1.5rem 2rem;
  }

  .qrCodeBox {
    position: relative;
    width: 80%;
    height: auto;
    padding: 2rem 0;
    margin-left: 0;
    margin-top: 5rem;
    margin-bottom: 5rem;
    box-sizing: border-box;
  }

  .secondRight {
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}